{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "bellkev-shared",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "crania/hello:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}
